Repository bids-standard/bids-specification, pull requests merged in 2019-05, with the labels that each got.

#205 [ENH] Various proposed changes to diffusion derivatives
  src/05-derivatives/05-diffusion-derivatives.md
  src/99-appendices/01-contributors.md
Labels: derivatives, diffusion MRI

#224 [FIX] use <label> for _desc- - not some <value> + clarify <value>
  src/05-derivatives/01-introduction.md
Labels: derivatives

#217 [INFRA] Add clarification on merge methods to DECISION_MAKING
  DECISION-MAKING.md
Labels: bug, infrastructure
