Repository bids-standard/bids-specification, pull requests merged in 2019-04, with the labels that each got.

#181 [FIX] make MEG section headings and ToC consistent to the EEG and iEEG specs
  src/04-modality-specific-files/02-magnetoencephalography.md
Labels: MEG, formatting

#191 [FIX] make iEEG ToC more consistent with MEG and EEG
  src/04-modality-specific-files/04-intracranial-electroencephalography.md
Labels: formatting, iEEG

#109 [ENH] Derived (processed) MR data
  CODEOWNERS
  mkdocs.yml
  src/01-introduction.md
  src/02-common-principles.md
  src/04-modality-specific-files/02-magnetoencephalography.md
  src/04-modality-specific-files/03-electroencephalography.md
  src/04-modality-specific-files/04-intracranial-electroencephalography.md
  src/05-derivatives/01-introduction.md
  src/05-derivatives/02-common-data-types.md
  src/05-derivatives/03-structural-derivatives.md
  src/05-derivatives/04-functional-derivatives.md
  src/05-derivatives/05-diffusion-derivatives.md
  src/06-extensions.md
  src/06-longitudinal-and-multi-site-studies.md
  src/07-extensions.md
  src/99-appendices/01-contributors.md
  src/99-appendices/08-coordinate-systems.md
Labels: diffusion MRI, enhancement, functional MRI, structural MRI

#204 [MISC] Fix github username for @chrisgorgo
  CODEOWNERS
Labels: misc

#198 [MISC] Expand entity table for MEG/EEG/iEEG specific files
  src/99-appendices/04-entity-table.md
Labels: misc
