Repository bids-standard/bids-specification, pull requests merged in 2020-08, with the labels that each got.

#475 [INFRA] Convert entity table to yaml
  .gitignore
  .travis.yml
  CONTRIBUTING.md
  src/99-appendices/04-entity-table.md
  src/schema/associated_data.yaml
  src/schema/auxdatatypes/channels.yaml
  src/schema/auxdatatypes/electrodes.yaml
  src/schema/auxdatatypes/events.yaml
  src/schema/auxdatatypes/photo.yaml
  src/schema/datatypes/anat.yaml
  src/schema/datatypes/beh.yaml
  src/schema/datatypes/dwi.yaml
  src/schema/datatypes/eeg.yaml
  src/schema/datatypes/fmap.yaml
  src/schema/datatypes/func.yaml
  src/schema/datatypes/ieeg.yaml
  src/schema/datatypes/meg.yaml
  src/schema/entities.yaml
  src/schema/modalities.yaml
  src/schema/top_level_files.yaml
  tools/bids_schema.py
Labels: formatting, help wanted

#535 [FIX] Clarify indices are nonnegative integers.
  src/04-modality-specific-files/01-magnetic-resonance-imaging-data.md
Labels: discussion

#581 [ENH] Specify how to share cross-talk and fine-calibration for Neuromag/Elekta/MEGIN data
  src/99-appendices/06-meg-file-formats.md
Labels: MEG, help wanted, opinions wanted

#520 [FIX] clarify XXXCoord* in the coordinate systems appendix
  src/99-appendices/08-coordinate-systems.md
Labels: EEG, MEG, help wanted
