Repository bids-standard/bids-specification, pull requests merged in 2020-11, with the labels that each got.

#660 [FIX] Added white space after table
  src/04-modality-specific-files/03-electroencephalography.md
Labels: EEG, formatting

#651 [FIX] Rewrite the MRI/fieldmaps subsection for consistency with the rest of specs
  src/02-common-principles.md
  src/04-modality-specific-files/01-magnetic-resonance-imaging-data.md
  src/99-appendices/09-entities.md
  src/schema/entities.yaml
Labels: MRI field maps, consistency, formatting

#652 [ENH] Bep 005: Arterial Spin Labeling
  src/04-modality-specific-files/01-magnetic-resonance-imaging-data.md
  src/99-appendices/01-contributors.md
Labels: ASL
