Repository bids-standard/bids-specification, pull requests merged in 2021-07, with the labels that each got.

#825 [ENH] add PET calibration factor
  src/04-modality-specific-files/09-positron-emission-tomography.md
Labels: PET, enhancement

#787 [SCHEMA] Use macro for filename templates in file collections appendix
  src/99-appendices/10-file-collections.md
Labels: schema

#792 [SCHEMA] Apply schema rules to entity values
  src/schema/entities.yaml
  tools/schemacode/schema.py
Labels: schema

#812 [ENH] BEP031 - New entity: sample and samples.tsv file
  src/02-common-principles.md
  src/03-modality-agnostic-files.md
  src/schema/entities.yaml
  src/schema/top_level_files.yaml
Labels: BEP
