Repository bids-standard/bids-specification, pull requests merged in 2022-05, with the labels that each got.

#1093 [FIX] IntendedFor in (i)EEG is dataset relative
  src/04-modality-specific-files/03-electroencephalography.md
  src/04-modality-specific-files/04-intracranial-electroencephalography.md
  src/schema/objects/metadata.yaml
Labels: MEG, iEEG, EEG, schema

#1090 [ENH] adding optional _rec-label to DWI
  src/04-modality-specific-files/01-magnetic-resonance-imaging-data.md
  src/schema/rules/datatypes/dwi.yaml
Labels: diffusion MRI, consistency

#1097 [SCHEMA] Create macro to render fields within objects
  src/04-modality-specific-files/08-genetic-descriptor.md
  src/schema/objects/metadata.yaml
  tools/mkdocs_macros_bids/macros.py
  tools/mkdocs_macros_bids/main.py
  tools/schemacode/schemacode/render.py
Labels: schema, schema-code
