Repository bids-standard/bids-specification, pull requests merged in 2022-02, with the labels that each got.

#946 [FIX] Rewrite inheritance principle
  src/02-common-principles.md
Labels: inheritance

#921 [ENH] Render valid value restrictions in tables based on object definitions in schema
  src/schema/objects/columns.yaml
  src/schema/objects/metadata.yaml
  tools/schemacode/schemacode/render.py
  tools/schemacode/schemacode/schema.py
  tools/schemacode/schemacode/utils.py
Labels: schema

#996 [SCHEMA, FIX] Remove mentions of auxdatatypes
  src/99-appendices/04-entity-table.md
Labels: schema

#989 [FIX] Optionally support echo entity for VFA suffix
  src/schema/rules/datatypes/anat.yaml
Labels: structural MRI, schema

#1006 [SCHEMA] Tabular metadata rules for both top and second-level tabular files
  src/schema/objects/suffixes.yaml
  src/schema/rules/tabular_metadata.yaml
Labels: schema
