Repository bids-standard/bids-specification, pull requests merged in 2022-10, with the labels that each got.

#802 [ENH] BEP030: Functional Near-Infrared Spectroscopy
  README.md
  mkdocs.yml
  src/01-introduction.md
  src/04-modality-specific-files/11-functional-near-infrared-spectroscopy.md
  src/schema/meta/context.yaml
  src/schema/objects/columns.yaml
  src/schema/objects/common_principles.yaml
  src/schema/objects/datatypes.yaml
  src/schema/objects/extensions.yaml
  src/schema/objects/metadata.yaml
  src/schema/objects/suffixes.yaml
  src/schema/rules/checks/nirs.yaml
  src/schema/rules/datatypes/nirs.yaml
  src/schema/rules/sidecars/nirs.yaml
  src/schema/rules/tabular_data/nirs.yaml
Labels: BEP

#1312 [ENH] Add NIRS modality to the schema
  src/schema/objects/datatypes.yaml
  src/schema/objects/modalities.yaml
  src/schema/rules/modalities.yaml
Labels: schema, exclude-from-changelog

#1313 FIX: Unclosed link in RepetitionTimeExcitation
  src/schema/objects/metadata.yaml
Labels: exclude-from-changelog

#1306 SCHEMA: Add index_columns metadata, render in tables
  src/schema/README.md
  src/schema/rules/tabular_data/derivatives/common_derivatives.yaml
  src/schema/rules/tabular_data/eeg.yaml
  src/schema/rules/tabular_data/ieeg.yaml
  src/schema/rules/tabular_data/meg.yaml
  src/schema/rules/tabular_data/modality_agnostic.yaml
  tools/schemacode/bidsschematools/render/tables.py
Labels: schema, schema-code, exclude-from-changelog

#1327 CI: limit circleci redirector check
  .github/workflows/redirect_circleci_artifacts.yml
Labels: exclude-from-changelog

#1322 CI: implement codespell check for custom word mappings
  .codespell_dict
  .codespellrc
  .github/workflows/validation.yml
  .pre-commit-config.yaml
  src/02-common-principles.md
  src/04-modality-specific-files/01-magnetic-resonance-imaging-data.md
  src/04-modality-specific-files/02-magnetoencephalography.md
  src/04-modality-specific-files/03-electroencephalography.md
  src/04-modality-specific-files/04-intracranial-electroencephalography.md
  src/04-modality-specific-files/07-behavioral-experiments.md
  src/04-modality-specific-files/09-positron-emission-tomography.md
  src/04-modality-specific-files/10-microscopy.md
  src/appendices/file-collections.md
  src/schema/objects/extensions.yaml
  tools/schemacode/bidsschematools/render/text.py
  tools/schemacode/bidsschematools/tests/test_rules.py
Labels: exclude-from-changelog

#1326 add more subheadings, improve consistency
  src/04-modality-specific-files/02-magnetoencephalography.md
  src/04-modality-specific-files/03-electroencephalography.md
  src/04-modality-specific-files/04-intracranial-electroencephalography.md
  src/04-modality-specific-files/11-near-infrared-spectroscopy.md
Labels: exclude-from-changelog

#1334 [CI] add codecov token
  .github/workflows/schemacode_ci.yml
Labels: exclude-from-changelog

#1329 [MNT] update pre-commit config and apply
  .pre-commit-config.yaml
  pdf_build_src/pandoc_script.py
  pdf_build_src/process_markdowns.py
  src/schema/objects/datatypes.yaml
  src/schema/objects/modalities.yaml
  src/schema/objects/suffixes.yaml
  tools/entities_order.py
  tools/mkdocs_macros_bids/__init__.py
  tools/no-bad-latin.py
  tools/pull_files.py
  tools/schemacode/bidsschematools/tests/test_validator.py
Labels: exclude-from-changelog

#1338 [MISC] update release protocol
  Release_Protocol.md
Labels: exclude-from-changelog

#1340 [MISC] incorporate gh label into protocol
  Release_Protocol.md
Labels: exclude-from-changelog

#1341 REL: v1.8.0
  Release_Protocol.md
  mkdocs.yml
  src/CHANGES.md
  src/appendices/contributors.md
  src/schema/BIDS_VERSION
  src/schema/SCHEMA_VERSION
Labels: exclude-from-changelog

#1346 SCHEMA: Mark README as recommended
  src/schema/rules/files/common/core.yaml
Labels: schema, exclude-from-changelog
