Repository bids-standard/bids-specification, pull requests merged in 2022-09, with the labels that each got.

#1260 [STY] Link to glossary in tables with many valid values
  tools/schemacode/bidsschematools/render.py
Labels: schema-code, exclude-from-changelog

#1254 SCHEMA: Uniformize rules
  src/schema/SCHEMA_VERSION
  src/schema/meta/context.yaml
  src/schema/rules/checks/asl.yaml
  src/schema/rules/checks/dwi.yaml
  src/schema/rules/checks/events.yaml
  src/schema/rules/checks/func.yaml
  src/schema/rules/checks/mri.yaml
  src/schema/rules/common_derivatives_validation.yaml
  src/schema/rules/dataset_metadata.yaml
  src/schema/rules/errors.yaml
  src/schema/rules/sidecars/anat.yaml
  src/schema/rules/sidecars/asl.yaml
  src/schema/rules/sidecars/beh.yaml
  src/schema/rules/sidecars/continuous.yaml
  src/schema/rules/sidecars/derivatives/common_derivatives.yaml
  src/schema/rules/sidecars/eeg.yaml
  src/schema/rules/sidecars/entity_rules.yaml
  src/schema/rules/sidecars/fmap.yaml
  src/schema/rules/sidecars/func.yaml
  src/schema/rules/sidecars/meg.yaml
  src/schema/rules/sidecars/mri.yaml
  src/schema/rules/sidecars/pet.yaml
  src/schema/rules/tabular_data/derivatives/common_derivatives.yaml
Labels: schema, exclude-from-changelog

#1273 [FIX] Add RandomRate to PET; Update .gitignore
  .gitignore
  src/schema/rules/sidecars/pet.yaml
Labels: exclude-from-changelog

#1264 [ENH] Standardize and organize entity descriptions
  src/schema/objects/entities.yaml
Labels: schema

#1268 [ENH] Add glossary links to all tables
  tools/mkdocs_macros_bids/macros.py
  tools/schemacode/bidsschematools/render.py
  tools/schemacode/bidsschematools/tests/test_render.py
Labels: formatting, schema-code

#1265 [ENH] Remove redundant entity definitions on MRI page
  src/04-modality-specific-files/01-magnetic-resonance-imaging-data.md
  tools/schemacode/bidsschematools/render.py
  tools/schemacode/bidsschematools/tests/test_render.py
Labels: functional MRI, structural MRI, MRI field maps, formatting, CBV, diffusion MRI, ASL

#1266 [DOC] minor change on install documentation and for circle CI
  .circleci/config.yml
  CONTRIBUTING.md
Labels: exclude-from-changelog

#1291 SCHEMA: Refactor filename template rendering, normalize requirement level in entity overrides
  src/schema/rules/datatypes/meg.yaml
  tools/schemacode/bidsschematools/render.py
Labels: schema, schema-code, exclude-from-changelog

#1292 [SCHEMA] Add click to bidsschematools requirements
  tools/schemacode/setup.cfg
Labels: schema-code, exclude-from-changelog

#1111 SCHEMA: Add event duration hints
  src/schema/rules/checks/hints.yaml
Labels: exclude-from-changelog

#1287 SCHEMA: Drop unstandardized name field from objects.top_level_files
  src/schema/objects/top_level_files.yaml
Labels: schema, exclude-from-changelog

#1112 DOC: Update README with proposed schema conventions
  src/schema/README.md
Labels: schema, exclude-from-changelog

#1297 [SCHEMA] Test schema code on Windows/OSX, fix small POSIX assumption
  .github/workflows/schemacode_ci.yml
  tools/schemacode/bidsschematools/validator.py
Labels: schema-code, exclude-from-changelog

#1298 [SCHEMA] events missing rule fix 'matches' -> 'match'
  src/schema/rules/checks/events.yaml
Labels: schema, exclude-from-changelog

#1300 [SCHEMA] Invert logic of bold onset hints
  src/schema/rules/checks/hints.yaml
Labels: schema, exclude-from-changelog

#1303 [CI] Bump last occurrence of actions/checkout@v2 to v3
  .github/workflows/schemacode_ci.yml
Labels: exclude-from-changelog

#1302 CI: Consolidate validation jobs into single workflow
  .github/workflows/codespell.yml
  .github/workflows/markdown_style.yml
  .github/workflows/no-bad-latin.yml
  .github/workflows/redirect_circleci_artifacts.yml
  .github/workflows/schemacode_ci.yml
  .github/workflows/typescript_build.yml
  .github/workflows/validation.yml
  .github/workflows/yml_lint.yml
  README.md
Labels: infrastructure, exclude-from-changelog

#1301 [SCHEMA] Refactor namespace
  .github/workflows/schemacode_ci.yml
  tools/schemacode/bidsschematools/schema.py
  tools/schemacode/bidsschematools/tests/test_schema.py
  tools/schemacode/bidsschematools/types/__init__.py
  tools/schemacode/bidsschematools/types/namespace.py
  tools/schemacode/bidsschematools/validator.py
Labels: schema-code, exclude-from-changelog

#1274 [SCHEMA] examples of expected expressions and their results for testing
  src/schema/meta/expression_tests.yaml
Labels: schema, exclude-from-changelog

#1290 [SCHEMA] Reorganize schema rendering code and add column table function
  src/03-modality-agnostic-files.md
  src/04-modality-specific-files/02-magnetoencephalography.md
  src/04-modality-specific-files/03-electroencephalography.md
  src/04-modality-specific-files/04-intracranial-electroencephalography.md
  src/04-modality-specific-files/05-task-events.md
  src/04-modality-specific-files/06-physiological-and-other-continuous-recordings.md
  src/04-modality-specific-files/09-positron-emission-tomography.md
  src/05-derivatives/03-imaging.md
  src/schema/rules/tabular_data/ieeg.yaml
  src/schema/rules/tabular_data/modality_agnostic.yaml
  src/schema/rules/tabular_data/pet.yaml
  tools/mkdocs_macros_bids/macros.py
  tools/schemacode/bidsschematools/render.py
  tools/schemacode/bidsschematools/render/__init__.py
  tools/schemacode/bidsschematools/render/tables.py
  tools/schemacode/bidsschematools/render/text.py
  tools/schemacode/bidsschematools/render/utils.py
  tools/schemacode/bidsschematools/tests/test_render.py
  tools/schemacode/bidsschematools/tests/test_render_tables.py
  tools/schemacode/bidsschematools/tests/test_render_text.py
  tools/schemacode/bidsschematools/tests/test_render_utils.py
  tools/schemacode/bidsschematools/utils.py
Labels: schema, schema-code, exclude-from-changelog
