Repository bids-standard/bids-specification, pull requests merged in 2022-07, with the labels that each got.

#1107 SCHEMA: Unify metadata
  src/04-modality-specific-files/04-intracranial-electroencephalography.md
  src/schema/SCHEMA_VERSION
  src/schema/objects/associated_data.yaml
  src/schema/objects/columns.yaml
  src/schema/objects/datatypes.yaml
  src/schema/objects/entities.yaml
  src/schema/objects/extensions.yaml
  src/schema/objects/formats.yaml
  src/schema/objects/metadata.yaml
  src/schema/objects/modalities.yaml
  src/schema/objects/suffixes.yaml
  src/schema/objects/top_level_files.yaml
  tools/schemacode/schemacode/render.py
  tools/schemacode/schemacode/tests/test_schema.py
  tools/schemacode/schemacode/tests/test_validator.py
  tools/schemacode/schemacode/validator.py
Labels: schema-code, schema-structure

#1135 [INFRA] Rename schema tools package and build with SCHEMA_VERSION
  .github/workflows/schemacode_ci.yml
  tools/mkdocs_macros_bids/macros.py
  tools/schemacode/MANIFEST.in
  tools/schemacode/README.md
  tools/schemacode/bidsschematools/__init__.py
  tools/schemacode/bidsschematools/data/__init__.py
  tools/schemacode/bidsschematools/data/schema
  tools/schemacode/bidsschematools/render.py
  tools/schemacode/bidsschematools/schema.py
  tools/schemacode/bidsschematools/tests/__init__.py
  tools/schemacode/bidsschematools/tests/conftest.py
  tools/schemacode/bidsschematools/tests/data/broken_dataset_description.json
  tools/schemacode/bidsschematools/tests/data/expected_bids_validator_xs_write.log
  tools/schemacode/bidsschematools/tests/test_render.py
  tools/schemacode/bidsschematools/tests/test_schema.py
  tools/schemacode/bidsschematools/tests/test_utils.py
  tools/schemacode/bidsschematools/tests/test_validator.py
  tools/schemacode/bidsschematools/utils.py
  tools/schemacode/bidsschematools/validator.py
  tools/schemacode/pyproject.toml
  tools/schemacode/schemacode/__init__.py
  tools/schemacode/schemacode/_version.py
  tools/schemacode/setup.cfg
  tools/schemacode/setup.py
  tools/schemacode/versioneer.py
Labels: schema-code

#1125 [FIX] Clarify MEG empty-room recommendations
  src/04-modality-specific-files/02-magnetoencephalography.md
Labels: MEG

#1151 [SCHEMA] Mark CHANGES as optional
  src/schema/rules/top_level_files.yaml
Labels: schema

#918 [ENH] Add BIDS URIs and deprecate relative paths, RawSources and (possibly unused) BasedOn
  src/02-common-principles.md
  src/03-modality-agnostic-files.md
  src/04-modality-specific-files/01-magnetic-resonance-imaging-data.md
  src/04-modality-specific-files/03-electroencephalography.md
  src/04-modality-specific-files/04-intracranial-electroencephalography.md
  src/04-modality-specific-files/09-positron-emission-tomography.md
  src/05-derivatives/02-common-data-types.md
  src/99-appendices/11-qmri.md
  src/schema/README.md
  src/schema/objects/formats.yaml
  src/schema/objects/metadata.yaml
  src/schema/objects/suffixes.yaml
  src/schema/rules/sidecars/meg.yaml
Labels: enhancement

#1167 [INFRA] Curate changelog
  .circleci/config.yml
Labels: exclude-from-changelog
