Repository bids-standard/bids-specification, pull requests merged in 2022-04, with the labels that each got.

#1023 [FIX] Add coordsystem-specific definition of DigitizedHeadPoints
  src/04-modality-specific-files/02-magnetoencephalography.md
  src/schema/objects/metadata.yaml
Labels: schema

#760 [FIX] run entity - "scans" -> "data samples"
  src/schema/objects/entities.yaml
Labels: opinions wanted

#1029 [SCHEMA] Define YAML tables for DWI/ASL/(i)EEG/micr/beh metadata
  src/schema/rules/sidecars/anat.yaml
  src/schema/rules/sidecars/asl.yaml
  src/schema/rules/sidecars/beh.yaml
  src/schema/rules/sidecars/continuous.yaml
  src/schema/rules/sidecars/dwi.yaml
  src/schema/rules/sidecars/eeg.yaml
  src/schema/rules/sidecars/entities.yaml
  src/schema/rules/sidecars/ieeg.yaml
  src/schema/rules/sidecars/micr.yaml
  src/schema/rules/sidecars/mri.yaml
Labels: schema

#1054 [SCHEMA] Add MEG, func, and fmap metadata tables
  src/schema/rules/sidecars/fmap.yaml
  src/schema/rules/sidecars/func.yaml
  src/schema/rules/sidecars/meg.yaml
Labels: schema

#1005 [FIX] Change recording entity to REQUIRED for pet/blood modality
  src/04-modality-specific-files/09-positron-emission-tomography.md
Labels: consistency

#1013 ENH: introduce versioning of the schema itself
  src/schema/README.md
  src/schema/SCHEMA_VERSION
Labels: schema, schema-structure

#1066 Replace `addendum` with `description_addendum`
  src/schema/rules/sidecars/asl.yaml
  src/schema/rules/sidecars/eeg.yaml
  src/schema/rules/sidecars/fmap.yaml
  src/schema/rules/sidecars/func.yaml
  src/schema/rules/sidecars/ieeg.yaml
  src/schema/rules/sidecars/meg.yaml
  src/schema/rules/sidecars/micr.yaml
  src/schema/rules/sidecars/mri.yaml
  src/schema/rules/sidecars/pet.yaml
Labels: schema

#1070 [SCHEMA] Define blood.tsv columns
  src/schema/rules/tabular_data/pet.yaml
Labels: schema

#1012 [SCHEMA] Add datatypes field to datatype rule files
  src/schema/rules/datatypes/anat.yaml
  src/schema/rules/datatypes/beh.yaml
  src/schema/rules/datatypes/dwi.yaml
  src/schema/rules/datatypes/eeg.yaml
  src/schema/rules/datatypes/fmap.yaml
  src/schema/rules/datatypes/func.yaml
  src/schema/rules/datatypes/ieeg.yaml
  src/schema/rules/datatypes/meg.yaml
  src/schema/rules/datatypes/micr.yaml
  src/schema/rules/datatypes/perf.yaml
  src/schema/rules/datatypes/pet.yaml
Labels: schema, schema-structure

#1063 [SCHEMA] Correlating existing validator issues to schema entries
  src/schema/rules/sidecars/asl.yaml
  src/schema/rules/sidecars/eeg.yaml
  src/schema/rules/sidecars/func.yaml
  src/schema/rules/sidecars/mri.yaml
Labels: schema

#1049 ENH: allow for .png and .tif in eeg/ieeg/meg as allowed for micr
  src/schema/rules/datatypes/eeg.yaml
  src/schema/rules/datatypes/ieeg.yaml
  src/schema/rules/datatypes/meg.yaml
Labels: enhancement, MEG, iEEG, EEG

#1069 SCHEMA: Create context schema in meta/
  src/schema/meta/context.yaml
Labels: schema

#1060 Start drafting validation rules for ASL data
  src/schema/rules/sidecars/asl_validation.yaml
  src/schema/rules/sidecars/dwi_validation.yaml
  src/schema/rules/sidecars/events_validation.yaml
  src/schema/rules/sidecars/fmap_validation.yaml
Labels: schema

#1064 [RTM] SCHEMA: Encode requirement levels for dataset_description and genetic_info
  src/schema/rules/dataset_metadata.yaml
Labels: schema

#1072 [SCHEMA] Define common derivatives rules
  src/schema/rules/common_derivatives_validation.yaml
  src/schema/rules/datatypes/derivatives/common_derivatives.yaml
  src/schema/rules/datatypes/derivatives/common_imaging_derivatives.yaml
  src/schema/rules/sidecars/derivatives/common_derivatives.yaml
  src/schema/rules/tabular_data/derivatives/common_derivatives.yaml
  tools/schemacode/schemacode/tests/test_render.py
Labels: derivatives, schema

#1075 State of the schema sprint
  src/04-modality-specific-files/02-magnetoencephalography.md
  src/04-modality-specific-files/03-electroencephalography.md
  src/04-modality-specific-files/04-intracranial-electroencephalography.md
  src/schema/README.md
  src/schema/SCHEMA_VERSION
  src/schema/meta/context.yaml
  src/schema/objects/columns.yaml
  src/schema/rules/checks/asl.yaml
  src/schema/rules/checks/dwi.yaml
  src/schema/rules/checks/events.yaml
  src/schema/rules/checks/fmap.yaml
  src/schema/rules/checks/func.yaml
  src/schema/rules/common_derivatives_validation.yaml
  src/schema/rules/dataset_metadata.yaml
  src/schema/rules/datatypes/anat.yaml
  src/schema/rules/datatypes/beh.yaml
  src/schema/rules/datatypes/derivatives/common_derivatives.yaml
  src/schema/rules/datatypes/derivatives/common_imaging_derivatives.yaml
  src/schema/rules/datatypes/dwi.yaml
  src/schema/rules/datatypes/eeg.yaml
  src/schema/rules/datatypes/fmap.yaml
  src/schema/rules/datatypes/func.yaml
  src/schema/rules/datatypes/ieeg.yaml
  src/schema/rules/datatypes/meg.yaml
  src/schema/rules/datatypes/micr.yaml
  src/schema/rules/datatypes/perf.yaml
  src/schema/rules/datatypes/pet.yaml
  src/schema/rules/sidecars/anat.yaml
  src/schema/rules/sidecars/asl.yaml
  src/schema/rules/sidecars/beh.yaml
  src/schema/rules/sidecars/continuous.yaml
  src/schema/rules/sidecars/derivatives/common_derivatives.yaml
  src/schema/rules/sidecars/dwi.yaml
  src/schema/rules/sidecars/eeg.yaml
  src/schema/rules/sidecars/entities.yaml
  src/schema/rules/sidecars/fmap.yaml
  src/schema/rules/sidecars/func.yaml
  src/schema/rules/sidecars/ieeg.yaml
  src/schema/rules/sidecars/meg.yaml
  src/schema/rules/sidecars/micr.yaml
  src/schema/rules/sidecars/mri.yaml
  src/schema/rules/sidecars/pet.yaml
  src/schema/rules/tabular_data/derivatives/common_derivatives.yaml
  src/schema/rules/tabular_data/eeg.yaml
  src/schema/rules/tabular_data/ieeg.yaml
  src/schema/rules/tabular_data/meg.yaml
  src/schema/rules/tabular_data/perf.yaml
  src/schema/rules/tabular_data/pet.yaml
  src/schema/rules/tabular_data/physio.yaml
  src/schema/rules/tabular_data/task.yaml
  tools/schemacode/schemacode/render.py
  tools/schemacode/schemacode/tests/test_render.py
Labels: schema
