Repository bids-standard/bids-specification, pull requests merged in 2022-11, with the labels that each got.

#1344 FIX: Ignore hidden directories correctly in validation
  tools/schemacode/bidsschematools/tests/test_validator.py
  tools/schemacode/bidsschematools/validator.py
Labels: schema-code, exclude-from-changelog

#1348 [SCHEMA] Remove rule requiring space metadata for every derivative file without space entity.
  src/schema/rules/sidecars/derivatives/common_derivatives.yaml
Labels: schema, exclude-from-changelog

#1347 [SCHEMA] Add tsv to extensions for any file with dseg suffix.
  src/schema/rules/files/deriv/imaging.yaml
Labels: schema, exclude-from-changelog

#1221 [ENH] Add ParallelReductionFactorOutOfPlane to MRI metadata
  src/04-modality-specific-files/01-magnetic-resonance-imaging-data.md
  src/schema/objects/metadata.yaml
  src/schema/rules/sidecars/mri.yaml
Labels: needs review

#1345 [INFRA] Drop numeric XX- from markdown file names
  CODEOWNERS
  mkdocs.yml
  src/CHANGES.md
  src/appendices/arterial-spin-labeling.md
  src/appendices/coordinate-systems.md
  src/appendices/cross-modality-correspondence.md
  src/appendices/entities.md
  src/appendices/entity-table.md
  src/appendices/file-collections.md
  src/appendices/hed.md
  src/appendices/meg-file-formats.md
  src/appendices/qmri.md
  src/appendices/units.md
  src/common-principles.md
  src/derivatives/common-data-types.md
  src/derivatives/imaging.md
  src/derivatives/introduction.md
  src/extensions.md
  src/index.md
  src/introduction.md
  src/longitudinal-and-multi-site-studies.md
  src/modality-agnostic-files.md
  src/modality-specific-files/behavioral-experiments.md
  src/modality-specific-files/electroencephalography.md
  src/modality-specific-files/genetic-descriptor.md
  src/modality-specific-files/images/PET_scan_overview.png
  src/modality-specific-files/images/PET_scan_overview.svg
  src/modality-specific-files/images/asl_flowchart.png
  src/modality-specific-files/images/asl_pasl_boluscutoff_false.png
  src/modality-specific-files/images/asl_pasl_boluscutoff_true_q2tips.png
  src/modality-specific-files/images/asl_pasl_boluscutoff_true_quipssII.png
  src/modality-specific-files/images/asl_pcasl_labeling_pulses.png
  src/modality-specific-files/images/asl_pcasl_sequence.png
  src/modality-specific-files/images/ieeg_electrodes1.png
  src/modality-specific-files/images/ieeg_electrodes2.png
  src/modality-specific-files/images/microscopy_chunks1.png
  src/modality-specific-files/images/microscopy_chunks2.png
  src/modality-specific-files/images/microscopy_sem_overview.jpg
  src/modality-specific-files/images/sub-0001_ses-001_acq-NAS_photo.jpg
  src/modality-specific-files/intracranial-electroencephalography.md
  src/modality-specific-files/magnetic-resonance-imaging-data.md
  src/modality-specific-files/magnetoencephalography.md
  src/modality-specific-files/microscopy.md
  src/modality-specific-files/near-infrared-spectroscopy.md
  src/modality-specific-files/physiological-and-other-continuous-recordings.md
  src/modality-specific-files/positron-emission-tomography.md
  src/modality-specific-files/task-events.md
  src/pregh-changes.md
  src/schema/README.md
  src/schema/objects/columns.yaml
  src/schema/objects/common_principles.yaml
  src/schema/objects/entities.yaml
  src/schema/objects/files.yaml
  src/schema/objects/formats.yaml
  src/schema/objects/metadata.yaml
  src/schema/objects/suffixes.yaml
  src/schema/rules/sidecars/meg.yaml
  src/schema/rules/sidecars/mri.yaml
  tools/schemacode/bidsschematools/render/tables.py
Labels: infrastructure, exclude-from-changelog

#1233 SCHEMA: Make subobject tables from qualified object names
  src/modality-agnostic-files.md
  src/modality-specific-files/genetic-descriptor.md
  src/modality-specific-files/task-events.md
  src/schema/objects/metadata.yaml
  src/schema/rules/dataset_metadata.yaml
  tools/mkdocs_macros_bids/macros.py
  tools/schemacode/bidsschematools/render/tables.py
Labels: schema, schema-code, exclude-from-changelog
