Repository bids-standard/bids-specification, pull requests merged in 2022-08, with the labels that each got.

#1168 [MISC] general documentation updates
  .github/dependabot.yml
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DECISION-MAKING.md
  Release_Guideline.md
  Release_Protocol.md
  macros_doc.md
  src/schema/README.md
Labels: exclude-from-changelog

#1176 [FIX] Solves isort ImportError
  tools/schemacode/setup.cfg
Labels: exclude-from-changelog

#1164 [FIX] clarify alphanumeric
  src/schema/objects/metadata.yaml
Labels: exclude-from-changelog

#1120 [ENH] Validator inheritance support
  tools/schemacode/bidsschematools/tests/test_validator.py
  tools/schemacode/bidsschematools/validator.py
Labels: exclude-from-changelog

#1191 [INFRA] Issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: exclude-from-changelog

#1146 [SCHEMA] Common error messages for rules that have no check in schema.
  src/schema/rules/errors.yaml
Labels: exclude-from-changelog

#1058 [SCHEMA] Add internal validation test for schema
  tools/schemacode/schemacode/tests/test_rules.py
Labels: schema-code, exclude-from-changelog

#1193 [SCHEMA] Order entities and add workflow to check entity order
  .github/workflows/entities-order.yml
  src/schema/rules/datatypes/anat.yaml
  src/schema/rules/datatypes/derivatives/common_derivatives.yaml
  src/schema/rules/datatypes/derivatives/common_imaging_derivatives.yaml
  src/schema/rules/datatypes/fmap.yaml
  tools/entities_order.py
  tools/typescript/README.md
Labels: infrastructure, schema, exclude-from-changelog

#1142 [SCHEMA] Add common principles to schema
  macros_doc.md
  src/02-common-principles.md
  src/schema/objects/common_principles.yaml
  src/schema/rules/common_principles.yaml
  tools/mkdocs_macros_bids/macros.py
  tools/mkdocs_macros_bids/main.py
  tools/schemacode/bidsschematools/render.py
  tools/schemacode/bidsschematools/tests/test_render.py
Labels: schema, schema-code, exclude-from-changelog

#1190 [SCHEMA] add task definition to schema
  src/schema/objects/entities.yaml
Labels: exclude-from-changelog

#1200 [FIX] Address YAML formatting errors in schema/rules/errors.yaml
  src/schema/rules/errors.yaml
  tools/mkdocs_macros_bids/macros.py
  tools/schemacode/bidsschematools/render.py
Labels: schema, exclude-from-changelog

#1166 [INFRA] Do not index top level files inside pseudofile directories
  tools/schemacode/bidsschematools/tests/conftest.py
  tools/schemacode/bidsschematools/validator.py
Labels: exclude-from-changelog

#1169 Print BIDSVersion warnings only once per dataset
  tools/schemacode/bidsschematools/tests/conftest.py
  tools/schemacode/bidsschematools/validator.py
Labels: exclude-from-changelog

#1184 Downstream fixes
  tools/schemacode/bidsschematools/tests/test_validator.py
  tools/schemacode/bidsschematools/validator.py
Labels: exclude-from-changelog

#1113 ENH: Add namespace object that allows attribute and key access to fields
  src/schema/objects/metadata.yaml
  tools/schemacode/bidsschematools/render.py
  tools/schemacode/bidsschematools/schema.py
  tools/schemacode/bidsschematools/tests/conftest.py
  tools/schemacode/bidsschematools/tests/test_rules.py
  tools/schemacode/bidsschematools/tests/test_schema.py
  tools/schemacode/bidsschematools/validator.py
Labels: schema-code, exclude-from-changelog

#1207 MIT license document
  tools/schemacode/LICENSE
Labels: exclude-from-changelog

#1208 Including bundled testdata in distribution
  .github/workflows/schemacode_ci.yml
  tools/schemacode/setup.cfg
Labels: exclude-from-changelog

#1215 Schema version bump
  src/schema/SCHEMA_VERSION
Labels: exclude-from-changelog

#1212 SCHEMA: Export schema JSON blob to <site>/schema.json
  .readthedocs.yaml
  readthedocs.yml
  tools/schemacode/bidsschematools/__main__.py
  tools/schemacode/bidsschematools/schema.py
  tools/schemacode/setup.cfg
Labels: exclude-from-changelog

#1218 MNT: Do not add schema tags to changelog
  .circleci/config.yml
Labels: exclude-from-changelog

#1223 FIX: Filter namespaces
  tools/schemacode/bidsschematools/render.py
Labels: exclude-from-changelog

#1224 [SCHEMA] add schema and spec version to object dumped by bidsschematools
  tools/schemacode/bidsschematools/schema.py
Labels: exclude-from-changelog

#1216 [TST] Merge the schema validation tests
  .github/workflows/entities-order.yml
  .github/workflows/schemacode_ci.yml
  src/schema/rules/common_principles.yaml
  tools/schemacode/bidsschematools/tests/test_rules.py
  tools/schemacode/pyproject.toml
Labels: schema-code, exclude-from-changelog

#1227 Default logpaths
  tools/schemacode/bidsschematools/tests/test_validator.py
  tools/schemacode/bidsschematools/validator.py
Labels: exclude-from-changelog

#1226 Use static testdata if present
  .codecov.yml
  tools/schemacode/bidsschematools/tests/conftest.py
  tools/schemacode/pyproject.toml
  tools/schemacode/setup.cfg
Labels: exclude-from-changelog

#1225 ENH: Add make_sidecar_table macro that accepts a table name
  src/04-modality-specific-files/01-magnetic-resonance-imaging-data.md
  src/04-modality-specific-files/02-magnetoencephalography.md
  src/04-modality-specific-files/03-electroencephalography.md
  src/04-modality-specific-files/04-intracranial-electroencephalography.md
  src/04-modality-specific-files/05-task-events.md
  src/04-modality-specific-files/06-physiological-and-other-continuous-recordings.md
  src/04-modality-specific-files/07-behavioral-experiments.md
  src/04-modality-specific-files/09-positron-emission-tomography.md
  src/04-modality-specific-files/10-microscopy.md
  src/05-derivatives/02-common-data-types.md
  src/05-derivatives/03-imaging.md
  src/schema/rules/sidecars/asl.yaml
  src/schema/rules/sidecars/derivatives/common_derivatives.yaml
  src/schema/rules/sidecars/events.yaml
  src/schema/rules/sidecars/ieeg.yaml
  src/schema/rules/sidecars/micr.yaml
  src/schema/rules/sidecars/mri.yaml
  src/schema/rules/sidecars/pet.yaml
  tools/mkdocs_macros_bids/macros.py
  tools/mkdocs_macros_bids/main.py
  tools/schemacode/bidsschematools/render.py
  tools/schemacode/bidsschematools/schema.py
  tools/schemacode/bidsschematools/tests/test_render.py
Labels: exclude-from-changelog

#1236 Normalize version files
  src/schema/BIDS_VERSION
  src/schema/SCHEMA_VERSION
Labels: exclude-from-changelog

#1213 [SCHEMA] Implement mutually exclusive conditions for sidecar rules
  src/04-modality-specific-files/01-magnetic-resonance-imaging-data.md
  src/04-modality-specific-files/03-electroencephalography.md
  src/schema/rules/checks/events.yaml
  src/schema/rules/dataset_metadata.yaml
  src/schema/rules/datatypes/derivatives/common_derivatives.yaml
  src/schema/rules/datatypes/derivatives/common_imaging_derivatives.yaml
  src/schema/rules/sidecars/anat.yaml
  src/schema/rules/sidecars/asl.yaml
  src/schema/rules/sidecars/derivatives/common_derivatives.yaml
  src/schema/rules/sidecars/eeg.yaml
  src/schema/rules/sidecars/func.yaml
  src/schema/rules/sidecars/meg.yaml
  src/schema/rules/sidecars/mri.yaml
  src/schema/rules/tabular_data/derivatives/common_derivatives.yaml
  src/schema/rules/tabular_data/perf.yaml
  src/schema/rules/tabular_data/physio.yaml
  src/schema/rules/tabular_data/task.yaml
Labels: exclude-from-changelog

#1234 SCHEMACODE: Generate test data archive
  tools/schemacode/bidsschematools/tests/conftest.py
  tools/schemacode/bidsschematools/tests/test_make_testdata.py
Labels: exclude-from-changelog

#1238 MNT: Bump schema version to 0.4.0-dev
  .github/pull_request_template.md
  src/schema/SCHEMA_VERSION
Labels: exclude-from-changelog

#1235 [STY] Improve object formatting in the glossary
  tools/schemacode/bidsschematools/render.py
  tools/schemacode/bidsschematools/tests/test_render.py
Labels: formatting, schema-code, exclude-from-changelog

#1230 [ENH] Prettier; Updating yaml formatting to play nicely w/ yamllint, .editorconfig, and prettier. (Warning: compromises made)
  .editorconfig
  .git-blame-ignore-revs
  .pre-commit-config.yaml
  .yamllint.yml
  Makefile
  src/schema/meta/context.yaml
  src/schema/objects/columns.yaml
  src/schema/objects/entities.yaml
  src/schema/objects/extensions.yaml
  src/schema/objects/metadata.yaml
  src/schema/objects/suffixes.yaml
  src/schema/rules/checks/asl.yaml
  src/schema/rules/checks/dwi.yaml
  src/schema/rules/checks/events.yaml
  src/schema/rules/checks/fmap.yaml
  src/schema/rules/checks/func.yaml
  src/schema/rules/common_derivatives_validation.yaml
  src/schema/rules/dataset_metadata.yaml
  src/schema/rules/datatypes/anat.yaml
  src/schema/rules/datatypes/beh.yaml
  src/schema/rules/datatypes/derivatives/common_imaging_derivatives.yaml
  src/schema/rules/datatypes/dwi.yaml
  src/schema/rules/datatypes/eeg.yaml
  src/schema/rules/datatypes/fmap.yaml
  src/schema/rules/datatypes/func.yaml
  src/schema/rules/datatypes/ieeg.yaml
  src/schema/rules/datatypes/meg.yaml
  src/schema/rules/datatypes/micr.yaml
  src/schema/rules/datatypes/perf.yaml
  src/schema/rules/datatypes/pet.yaml
  src/schema/rules/errors.yaml
  src/schema/rules/modalities.yaml
  src/schema/rules/sidecars/anat.yaml
  src/schema/rules/sidecars/asl.yaml
  src/schema/rules/sidecars/beh.yaml
  src/schema/rules/sidecars/continuous.yaml
  src/schema/rules/sidecars/derivatives/common_derivatives.yaml
  src/schema/rules/sidecars/dwi.yaml
  src/schema/rules/sidecars/eeg.yaml
  src/schema/rules/sidecars/entity_rules.yaml
  src/schema/rules/sidecars/events.yaml
  src/schema/rules/sidecars/fmap.yaml
  src/schema/rules/sidecars/func.yaml
  src/schema/rules/sidecars/ieeg.yaml
  src/schema/rules/sidecars/meg.yaml
  src/schema/rules/sidecars/micr.yaml
  src/schema/rules/sidecars/mri.yaml
  src/schema/rules/sidecars/pet.yaml
  src/schema/rules/tabular_data/derivatives/common_derivatives.yaml
  src/schema/rules/tabular_data/eeg.yaml
  src/schema/rules/tabular_data/ieeg.yaml
  src/schema/rules/tabular_data/meg.yaml
  src/schema/rules/tabular_data/perf.yaml
  src/schema/rules/tabular_data/pet.yaml
  src/schema/rules/tabular_data/physio.yaml
  src/schema/rules/tabular_data/task.yaml
  src/schema/rules/tabular_metadata.yaml
  src/schema/rules/top_level_files.yaml
Labels: exclude-from-changelog

#1240 [SCHEMA] add description entity to imaging derivative rules
  src/schema/rules/datatypes/derivatives/common_imaging_derivatives.yaml
Labels: exclude-from-changelog

#1246 [INFRA] auto ignore dependencies update from change log
  .github/dependabot.yml
Labels: exclude-from-changelog

#1228 [ENH] Link to filename element definitions in filename templates
  pdf_build_src/process_markdowns.py
  tools/mkdocs_macros_bids/macros.py
  tools/schemacode/bidsschematools/render.py
  tools/schemacode/bidsschematools/tests/test_render.py
  tools/schemacode/bidsschematools/tests/test_utils.py
  tools/schemacode/bidsschematools/utils.py
Labels: formatting, schema-code

#1248 [FIX] Use SPEC_ROOT/src_path in `make_filename_template`
  tools/mkdocs_macros_bids/macros.py
  tools/schemacode/bidsschematools/render.py
Labels: bug, schema-code, exclude-from-changelog

#1250 [MNT] remove skip ci checks from CI workflow
  .github/workflows/schemacode_ci.yml
  .github/workflows/typescript_build.yml
Labels: exclude-from-changelog

#1252 CI: Package bids-examples and bids-error-examples into Python distributions on schema-* tags
  .github/workflows/schemacode_ci.yml
  scripts/test_tag
  tools/schemacode/bidsschematools/tests/conftest.py
  tools/schemacode/bidsschematools/tests/data/__init__.py
  tools/schemacode/bidsschematools/tests/test_make_testdata.py
  tools/schemacode/setup.cfg
Labels: schema-code, exclude-from-changelog

#1257 CI: Skip PyPI tests on PR builds
  .github/workflows/schemacode_ci.yml
Labels: infrastructure, exclude-from-changelog
