Repository bids-standard/bids-specification, pull requests merged in 2023-10, with the labels that each got.

#1624 [MAINT] Add python 3.12 in CI
  .github/workflows/schemacode_ci.yml
Labels: exclude-from-changelog

#1618 [INFRA] Add quality-of-life features to rendered spec
  mkdocs.yml
  src/css/watermark.css
  src/images/draft_watermark_dark.png
Labels: exclude-from-changelog

#1629 SCHEMA: Make expression tests more manageable
  src/schema/meta/expression_tests.yaml
Labels: schema, exclude-from-changelog

#1636 FIX/SCHEMA: Remove TracerName requirement for trc entity
  src/schema/rules/sidecars/entity_rules.yaml
Labels: schema, exclude-from-changelog

#1631 Fix years and degrees Units and unit to be singular to match the rest
  src/modality-agnostic-files.md
  src/schema/objects/metadata.yaml
Labels: units

#1639 [INFRA] Remove LGTM.com configuration file
  .lgtm.yml
Labels: infrastructure, exclude-from-changelog
