Repository bids-standard/bids-specification, pull requests merged in 2023-11, with the labels that each got.

#1648 SCHEMA: Enable structured Level descriptions for TSV columns
  src/schema/objects/metadata.yaml
Labels: schema, exclude-from-changelog

#1649 [MISC] change `’` -> `'`
  src/appendices/coordinate-systems.md
  src/appendices/meg-file-formats.md
  src/common-principles.md
  src/derivatives/common-data-types.md
  src/derivatives/introduction.md
  src/modality-specific-files/magnetoencephalography.md
  src/modality-specific-files/microscopy.md
Labels: exclude-from-changelog

#1640 [SCHEMA] Add remaining enum definitions
  src/schema/meta/context.yaml
  src/schema/objects/columns.yaml
  src/schema/objects/enums.yaml
  src/schema/objects/metadata.yaml
  src/schema/rules/files/raw/meg.yaml
Labels: schema, exclude-from-changelog

#1650 SCHEMA: Fix diffusion and NIRS rules
  src/schema/rules/checks/dwi.yaml
  src/schema/rules/checks/nirs.yaml
  src/schema/rules/sidecars/nirs.yaml
Labels: schema, exclude-from-changelog

#1651 REL: v1.9.0
  .all-contributorsrc
  .tributors
  CITATION.cff
  README.md
  mkdocs.yml
  src/CHANGES.md
  src/appendices/contributors.md
  src/schema/BIDS_VERSION
  tools/add_contributors.py
Labels: exclude-from-changelog

#1652 [INFRA] Update release protocol: PDF upload to Zenodo
  CITATION.cff
  Release_Protocol.md
Labels: exclude-from-changelog

#1562 [DOC] Update contribution workflow
  CONTRIBUTING.md
  DECISION-MAKING.md
  Release_Protocol.md
  tools/add_contributors.py
  tools/print_contributors.py
Labels: exclude-from-changelog, documentation
