Repository bids-standard/bids-specification, pull requests merged in 2023-03, with the labels that each got.

#1428 SCHEMA Stop ASLMRISequenceSpecifics rule from hitting asllabeling files.
  src/schema/rules/sidecars/mri.yaml
Labels: schema, exclude-from-changelog

#1427 SCHEMA Update BloodMetabolite tabular data rule to match surrounding rules.
  src/schema/rules/tabular_data/pet.yaml
Labels: schema, exclude-from-changelog

#1429 SCHEMA bvals bvecs should only be listed missing for datafiles
  src/schema/rules/checks/dwi.yaml
Labels: exclude-from-changelog

#1430 SCHEMA ignore photo suffix for most microscopy checks.
  src/schema/rules/sidecars/micr.yaml
Labels: schema, exclude-from-changelog

#1431 SCHEMA Make multipartid optional.
  src/schema/rules/sidecars/dwi.yaml
Labels: schema, exclude-from-changelog

#1432 SCHEMA type function in expression language returns a string
  src/schema/rules/checks/func.yaml
  src/schema/rules/checks/mri.yaml
Labels: schema, exclude-from-changelog

#1434 SCHEMA: Minor fixes
  src/schema/rules/checks/dwi.yaml
  src/schema/rules/checks/func.yaml
Labels: schema, exclude-from-changelog

#1433 BST: Run schema code through mypy in pre-commit
  .pre-commit-config.yaml
  tools/schemacode/bidsschematools/render/tables.py
  tools/schemacode/bidsschematools/rules.py
Labels: schema-code, exclude-from-changelog, needs review

#981 BEP029 Motion (spec)
  mkdocs.yml
  src/appendices/contributors.md
  src/introduction.md
  src/modality-specific-files/motion.md
  src/modality-specific-files/near-infrared-spectroscopy.md
  src/schema/objects/columns.yaml
  src/schema/objects/common_principles.yaml
  src/schema/objects/datatypes.yaml
  src/schema/objects/entities.yaml
  src/schema/objects/metadata.yaml
  src/schema/objects/modalities.yaml
  src/schema/objects/suffixes.yaml
  src/schema/rules/entities.yaml
  src/schema/rules/files/raw/channels.yaml
  src/schema/rules/files/raw/motion.yaml
  src/schema/rules/files/raw/task.yaml
  src/schema/rules/modalities.yaml
  src/schema/rules/sidecars/eeg.yaml
  src/schema/rules/sidecars/motion.yaml
  src/schema/rules/tabular_data/motion.yaml
  tools/filetree_example.ipynb
  tools/schemacode/bidsschematools/render/text.py
Labels: enhancement, BEP

#1445 FIX: Link to index/label definitions in glossary
  tools/schemacode/bidsschematools/render/text.py
Labels: schema-code, exclude-from-changelog

#1449 [INFRA] add auto labeller config and workflow
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: exclude-from-changelog
