Repository bids-standard/bids-specification, pull requests merged in 2023-05, with the labels that each got.

#1478 [FIX] motion channel types: remove ANGVEL, rename ANGACC -> ANGACCEL
  src/modality-specific-files/motion.md
  src/schema/objects/columns.yaml
  src/schema/objects/metadata.yaml
  src/schema/rules/sidecars/motion.yaml
Labels: exclude-from-changelog

#1480 Record the actual expressions we use.
  tools/schemacode/bidsschematools/validator.py
Labels: schema-code, exclude-from-changelog

#1491 [INFRA] Publish schema tools API docs to additional ReadTheDocs site
  tools/schemacode/.readthedocs.yaml
Labels: enhancement

#1498 CI: Add pyparsing to build requirements
  .github/workflows/schemacode_ci.yml
Labels: infrastructure, exclude-from-changelog

#1501 DOC: Add join/leave dates to maintainers tables
  DECISION-MAKING.md
Labels: exclude-from-changelog

#1502 Including bidsignore files in testdata
  tools/schemacode/bidsschematools/tests/test_make_testdata.py
  tools/schemacode/setup.cfg
Labels: schema-code, exclude-from-changelog

#1503 DOC: Prettify schemacode docs
  readthedocs.yml
  tools/schemacode/.readthedocs.yaml
  tools/schemacode/bidsschematools/validator.py
  tools/schemacode/docs/_static/black_logo.svg
  tools/schemacode/docs/_static/white_logo.svg
  tools/schemacode/docs/conf.py
  tools/schemacode/docs/index.rst
  tools/schemacode/docs/requirements.txt
Labels: schema-code, exclude-from-changelog

#1495 [ENH] Add macro to render descriptions
  macros_doc.md
  src/modality-agnostic-files.md
  src/modality-specific-files/genetic-descriptor.md
  src/schema/objects/files.yaml
  tools/mkdocs_macros_bids/__init__.py
  tools/mkdocs_macros_bids/macros.py
  tools/mkdocs_macros_bids/main.py
  tools/schemacode/bidsschematools/render/__init__.py
  tools/schemacode/bidsschematools/render/text.py
  tools/schemacode/bidsschematools/tests/test_render_text.py
Labels: schema, schema-code, exclude-from-changelog
