Repository bids-standard/bids-specification, pull requests merged in 2023-08, with the labels that each got.

#1581 SCHEMA: Fix overeager BOLD rules
  src/schema/rules/sidecars/func.yaml
Labels: schema, exclude-from-changelog

#1589 [DOC][FIX][MAINT] fix schema doc build in read the docs
  tools/schemacode/docs/requirements.txt
Labels: exclude-from-changelog

#1555 [FIX] Clarify that electrodes.tsv is optional for MEG, for use with simultaneous (i)EEG
  src/modality-specific-files/magnetoencephalography.md
  src/schema/rules/files/raw/channels.yaml
Labels: MEG, EEG, schema

#1596 [SCHEMA][FIX] Use meg selectors for meg rules
  src/schema/rules/sidecars/meg.yaml
Labels: schema, exclude-from-changelog

#1600 [SCHEMA] Various fixes on selectors and expressions
  src/schema/objects/entities.yaml
  src/schema/rules/checks/mri.yaml
  src/schema/rules/checks/nirs.yaml
  src/schema/rules/sidecars/anat.yaml
  src/schema/rules/sidecars/asl.yaml
  src/schema/rules/sidecars/dwi.yaml
  src/schema/rules/sidecars/eeg.yaml
  src/schema/rules/sidecars/fmap.yaml
  src/schema/rules/sidecars/func.yaml
  src/schema/rules/sidecars/ieeg.yaml
  src/schema/rules/sidecars/meg.yaml
  src/schema/rules/sidecars/micr.yaml
  src/schema/rules/sidecars/motion.yaml
  src/schema/rules/sidecars/mri.yaml
  src/schema/rules/sidecars/nirs.yaml
  src/schema/rules/sidecars/pet.yaml
  src/schema/rules/tabular_data/pet.yaml
Labels: schema, exclude-from-changelog

#1598 [SCHEMA] Update nirs.yaml ShortChannelCountReq check.
  src/schema/rules/checks/nirs.yaml
Labels: schema, exclude-from-changelog
