Repository bids-standard/bids-specification, pull requests merged in 2023-06, with the labels that each got.

#1489 SCHEMA: Relax SkullStripped metadata requirement for masks and segmentations
  src/schema/rules/sidecars/derivatives/common_derivatives.yaml
Labels: schema, exclude-from-changelog

#1511 CI: Hard-code codecov token so PRs can submit coverage
  .codecov.yml
Labels: infrastructure, exclude-from-changelog

#1507 DOC: Schema tools doc improvements
  tools/schemacode/bidsschematools/__init__.py
  tools/schemacode/bidsschematools/expressions.py
  tools/schemacode/bidsschematools/rules.py
  tools/schemacode/bidsschematools/schema.py
  tools/schemacode/bidsschematools/tests/__init__.py
  tools/schemacode/bidsschematools/types/__init__.py
  tools/schemacode/bidsschematools/types/namespace.py
  tools/schemacode/bidsschematools/validator.py
Labels: schema-code, exclude-from-changelog

#1526 [INFRA] Fix KDEF link
  src/modality-specific-files/task-events.md
Labels: exclude-from-changelog

#1506 SCHEMACODE: Add data loader class
  tools/schemacode/bidsschematools/data/__init__.py
  tools/schemacode/bidsschematools/tests/data/__init__.py
  tools/schemacode/bidsschematools/tests/test_schema.py
  tools/schemacode/bidsschematools/tests/test_validator.py
  tools/schemacode/bidsschematools/utils.py
  tools/schemacode/docs/conf.py
  tools/schemacode/docs/requirements.txt
Labels: schema-code, exclude-from-changelog

#919 [SCHEMA] Add full object definitions for valid values in schema
  src/schema/README.md
  src/schema/objects/columns.yaml
  src/schema/objects/entities.yaml
  src/schema/objects/enums.yaml
  src/schema/objects/metadata.yaml
  src/schema/rules/files/raw/meg.yaml
  src/schema/rules/tabular_data/eeg.yaml
  src/schema/rules/tabular_data/ieeg.yaml
  src/schema/rules/tabular_data/meg.yaml
  src/schema/rules/tabular_data/motion.yaml
  src/schema/rules/tabular_data/nirs.yaml
  tools/schemacode/bidsschematools/render/text.py
  tools/schemacode/bidsschematools/render/utils.py
  tools/schemacode/bidsschematools/rules.py
  tools/schemacode/bidsschematools/schema.py
  tools/schemacode/bidsschematools/tests/test_schema.py
Labels: schema, schema-structure
