Repository bids-standard/bids-specification, pull requests merged in 2023-02, with the labels that each got.

#1385 SCHEMA: Add rules for checking existence of referenced files, non-existence of duplicate files
  src/schema/README.md
  src/schema/meta/expression_tests.yaml
  src/schema/rules/checks/general.yaml
  src/schema/rules/checks/references.yaml
  src/schema/rules/errors.yaml
  src/schema/rules/files/deriv/imaging.yaml
Labels: schema, exclude-from-changelog

#1394 [Bug][Misc] update workflow for schema-docs
  .github/workflows/schema_docs.yaml
Labels: bug, misc, exclude-from-changelog

#1399 Dropping Python 3.7, code style, typos, imports
  .github/workflows/schemacode_ci.yml
  tools/schemacode/bidsschematools/tests/test_validator.py
  tools/schemacode/setup.cfg
Labels: schema-code, exclude-from-changelog

#1403 [INFRA] update precommits hooks and apply them
  .github/workflows/schema_docs.yaml
  .pre-commit-config.yaml
  tools/schemacode/docs/Makefile
  tools/schemacode/docs/modules.rst
Labels: exclude-from-changelog

#1408 MNT: Run black and isort separately on bidsschematools and other tools
  .pre-commit-config.yaml
  pdf_build_src/pandoc_script.py
  tools/entities_order.py
  tools/examplecode/example.py
  tools/mkdocs_macros_bids/macros.py
  tools/mkdocs_macros_bids/main.py
Labels: infrastructure, exclude-from-changelog

#1417 [FIX] Rename `channels.tsv` column: `orientation_component` to `component`
  src/modality-specific-files/near-infrared-spectroscopy.md
  src/schema/objects/columns.yaml
  src/schema/rules/checks/nirs.yaml
  src/schema/rules/tabular_data/nirs.yaml
Labels: consistency

#1405 SCHEMA: Add sorted() and index() functions, update expression tests
  src/schema/README.md
  src/schema/meta/expression_tests.yaml
Labels: schema, exclude-from-changelog

#1406 SCHEMA: Add convenience objects to nifti_header context
  src/schema/meta/context.yaml
  src/schema/rules/checks/nifti.yaml
Labels: schema, exclude-from-changelog

#1416 SCHEMA: More schema checks
  .github/workflows/typescript_build.yml
  src/schema/meta/context.yaml
  src/schema/rules/checks/general.yaml
  src/schema/rules/checks/micr.yaml
  src/schema/rules/errors.yaml
Labels: schema, exclude-from-changelog

#1412 ENH: Add expression language parser
  tools/schemacode/bidsschematools/expressions.py
  tools/schemacode/bidsschematools/tests/test_expressions.py
  tools/schemacode/setup.cfg
Labels: schema-code, exclude-from-changelog

#1421 [MISC] Expanded readme
  tools/schemacode/README.md
Labels: schema-code, exclude-from-changelog

#1424 [FIX] Close backtick in `TaskName` description
  src/schema/objects/metadata.yaml
Labels: formatting, exclude-from-changelog
