Repository bids-standard/bids-specification, pull requests merged in 2023-01, with the labels that each got.

#1373 BF: sizes were decided to be in meters. Fix examples
  src/modality-specific-files/task-events.md
  src/schema/objects/metadata.yaml
Labels: exclude-from-changelog

#1372 [MISC][SCHEMA] Add schema-code sphinx generated read the docs to CI; pushes to bids-standard/schema-docs
  .github/workflows/schema_docs.yaml
  .gitignore
  tools/schemacode/docs/Makefile
  tools/schemacode/docs/bidsschematools.rst
  tools/schemacode/docs/conf.py
  tools/schemacode/docs/index.rst
  tools/schemacode/docs/make.bat
  tools/schemacode/docs/modules.rst
Labels: exclude-from-changelog

#1381 [MISC] update var to runner env from actions env syntax
  .github/workflows/schema_docs.yaml
Labels: bug, infrastructure, exclude-from-changelog

#1387 SCHEMA: Remove inconsistent name field from objects.common_principles
  src/schema/objects/common_principles.yaml
Labels: schema, exclude-from-changelog
