Repository bids-standard/bids-specification, pull requests merged in 2023-09, with the labels that each got.

#1608 SCHEMA: Ignore n/a entries in stim_file columns when checking existence
  src/schema/rules/checks/events.yaml
Labels: schema, exclude-from-changelog

#1612 [MAINT] add mastodon badge
  README.md
Labels: exclude-from-changelog

#1579 [SCHEMA][ENH] Remove atlas entity and replace it with seg in prep of BEP038
  src/derivatives/imaging.md
  src/schema/objects/entities.yaml
  src/schema/objects/metadata.yaml
  src/schema/rules/entities.yaml
  src/schema/rules/sidecars/derivatives/common_derivatives.yaml
Labels: derivatives, opinions wanted, BEP

#1605 FIX: Do not require notch frequencies to be parsed as numbers, accommodating multiples
  src/schema/objects/columns.yaml
Labels: MEG, iEEG, EEG, schema, needs review

#1594 Recommend SliceTiming if MRAcquisitionType is "2D"
  src/modality-specific-files/magnetic-resonance-imaging-data.md
  src/schema/rules/sidecars/mri.yaml
Labels: schema, needs review, MRI

#1615 [MAINT] Remove copyright date from footer
  mkdocs.yml
  src/appendices/coordinate-systems.md
  src/appendices/meg-file-formats.md
  src/appendices/meg-systems.md
  src/modality-specific-files/magnetoencephalography.md
  src/schema/objects/metadata.yaml
  src/schema/rules/sidecars/micr.yaml
Labels: exclude-from-changelog

#1622 SCHEMA: Update DWI rules to check bval/bvec size in associations
  src/schema/meta/context.yaml
  src/schema/rules/checks/dwi.yaml
  src/schema/rules/errors.yaml
Labels: exclude-from-changelog

#1620 [FIX] Update links that threw warning in CI
  mkdocs.yml
  src/appendices/coordinate-systems.md
  src/appendices/hed.md
  src/appendices/meg-file-formats.md
  src/introduction.md
  src/modality-specific-files/electroencephalography.md
  src/modality-specific-files/intracranial-electroencephalography.md
  src/modality-specific-files/magnetic-resonance-imaging-data.md
  src/modality-specific-files/magnetoencephalography.md
  src/modality-specific-files/microscopy.md
  src/schema/objects/columns.yaml
  src/schema/objects/extensions.yaml
  src/schema/objects/files.yaml
Labels: exclude-from-changelog
