Repository bids-standard/bids-specification, pull requests merged in 2024-09, with the labels that each got.

#1772 [ENH] Add metadata fields for DeIdentificationMethod/CodeSequence for MRI and PET
  src/modality-specific-files/magnetic-resonance-imaging-data.md
  src/modality-specific-files/positron-emission-tomography.md
  src/schema/objects/metadata.yaml
  src/schema/rules/sidecars/mri.yaml
Labels: needs review

#1884 [ENH] Add noRF and n/a ASL volume types
  src/modality-specific-files/magnetic-resonance-imaging-data.md
  src/schema/objects/columns.yaml
  src/schema/objects/enums.yaml
  src/schema/objects/metadata.yaml
  src/schema/rules/files/raw/perf.yaml
Labels: ASL

#1921 Strip possibly present trailing / (os.sep) before adding one
  tools/examplecode/example.py
Labels: exclude-from-changelog

#1925 [MAINT] bump version citation.cff
  CITATION.cff
Labels: exclude-from-changelog

#1929 Remove tsalo from CODEOWNERS
  CODEOWNERS
Labels: exclude-from-changelog, maintenance

#1930 [FiX] Exclude emtpyroom sub when checking event files
  src/schema/rules/checks/events.yaml
Labels: schema, exclude-from-changelog

#1935 [MAINT] Update Release_Protocol.md
  Release_Protocol.md
Labels: exclude-from-changelog
