Repository bids-standard/bids-specification, pull requests merged in 2024-02, with the labels that each got.

#1696 [MAINT] update circle ci config
  .circleci/config.yml
Labels: exclude-from-changelog

#1703 [FIX] Remove task entity from DWI and PERF time series file templates
  src/schema/rules/files/raw/task.yaml
Labels: schema

#1708 Fix links
  src/schema/objects/metadata.yaml
Labels: exclude-from-changelog, documentation

#1671 [SCHEMATOOLS] Implement inheritance for all TSV/JSON files
  tools/schemacode/bidsschematools/rules.py
Labels: schema-code, exclude-from-changelog

#1693 SCHEMA: Add schema.rules.directories to specify directory layouts
  src/schema/rules/directories.yaml
Labels: schema, schema-structure, exclude-from-changelog

#1593 ENH: Add sample metadata to MRI and PET
  src/modality-specific-files/magnetic-resonance-imaging-data.md
  src/modality-specific-files/positron-emission-tomography.md
  src/schema/rules/sidecars/mri.yaml
  src/schema/rules/sidecars/pet.yaml
Labels: PET, MRI
