Repository bids-standard/bids-specification, pull requests merged in 2024-05, with the labels that each got.

#1774 [MISC] Add shellcheck checks to ensure that those few shell scripts we have are "robust"
  .github/workflows/shellcheck.yml
  .pre-commit-config.yaml
  scripts/test_tag
Labels: exclude-from-changelog, maintenance

#1807 [ENH] Describe Inheritance Principle in Common Principles
  src/common-principles.md
Labels: inheritance

#1803 [ENH] Add use of session entity as example of encoding multi-site studies in a single dataset
  src/longitudinal-and-multi-site-studies.md
Labels: enhancement

#1725 [ENH] Specify the naming of scanner-generated TRACE and ADC volumes
  src/modality-specific-files/magnetic-resonance-imaging-data.md
  src/schema/objects/suffixes.yaml
  src/schema/rules/files/deriv/imaging.yaml
  src/schema/rules/files/raw/dwi.yaml
Labels: diffusion MRI

#1672 SCHEMA: Add file rule for phenotype tables
  src/metaschema.json
  src/schema/rules/files/common/tables.yaml
  tools/schemacode/bidsschematools/conftest.py
  tools/schemacode/bidsschematools/data/tests/test_rules.py
  tools/schemacode/bidsschematools/rules.py
  tools/schemacode/bidsschematools/tests/test_rules.py
Labels: schema, exclude-from-changelog

#1832 Update circleci docker image
  .circleci/config.yml
Labels: exclude-from-changelog

#1837 feat(schema): Add allequal(x: array, y: array) to expression language
  src/schema/README.md
  src/schema/meta/expression_tests.yaml
  src/schema/rules/checks/dataset.yaml
  src/schema/rules/checks/events.yaml
  src/schema/rules/checks/mri.yaml
Labels: schema, exclude-from-changelog

#1797 [MAINT] update PR template to include BEP header
  .github/pull_request_template.md
Labels: exclude-from-changelog, needs review

#1841 feat(schema): Add schema check for README file
  src/schema/rules/checks/hints.yaml
Labels: schema, exclude-from-changelog

#1843 MAINT: reduce hours stefan, clarify lead maintainer
  DECISION-MAKING.md
Labels: exclude-from-changelog
