Repository bids-standard/bids-specification, pull requests merged in 2024-08, with the labels that each got.

#1879 fix(schema): Add hint to see if dataset name contains a visible character
  src/schema/rules/checks/hints.yaml
Labels: exclude-from-changelog

#1874 [FIX] Replace defunct awaresystems.be and fslwiki links
  src/modality-specific-files/magnetic-resonance-imaging-data.md
  src/modality-specific-files/microscopy.md
Labels: exclude-from-changelog, needs review

#1883 rf(schema): Drop context.dataset.files
  src/schema/SCHEMA_VERSION
  src/schema/meta/context.yaml
  src/schema/rules/checks/dataset.yaml
  src/schema/rules/dataset_metadata.yaml
Labels: schema, schema-structure, exclude-from-changelog

#1881 feat(schema): Add rule to check files listed in scans.tsv exist
  src/schema/README.md
  src/schema/rules/checks/dataset.yaml
Labels: schema, exclude-from-changelog

#1880 fix(schema): Add issue definitions for all checks
  src/metaschema.json
  src/schema/meta/context.yaml
  src/schema/rules/checks/common_derivatives.yaml
  src/schema/rules/checks/nirs.yaml
  src/schema/rules/checks/references.yaml
Labels: schema, exclude-from-changelog, NIRS

#1889 fix(regex): Construct backreferences to ensure entity consistency
  tools/schemacode/bidsschematools/rules.py
  tools/schemacode/bidsschematools/tests/test_rules.py
  tools/schemacode/bidsschematools/tests/test_validator.py
Labels: schema-code, exclude-from-changelog

#1886 feat(schema): Improve type annotations of schema.context
  src/schema/meta/context.yaml
Labels: schema, exclude-from-changelog

#1898 [SCHEMA] add schema check to test for consistency between PET imaging dat…
  src/schema/rules/checks/pet.yaml
Labels: schema, exclude-from-changelog

#1903 chore(schema): Remove explicit "n/a" from column definitions
  src/schema/objects/columns.yaml
Labels: schema, exclude-from-changelog

#1905 fix(schema): Remove SLICE_TIMING_AND_DURATION_MUTUALLY_EXCLUSIVE
  src/schema/rules/checks/func.yaml
Labels: schema, exclude-from-changelog

#1811 MRI: Improve definition of bvec file
  src/modality-specific-files/magnetic-resonance-imaging-data.md
  src/schema/objects/extensions.yaml
Labels: diffusion MRI, needs review

#1377 [ENH] BEP022 - Magnetic Resonance Spectroscopy
  README.md
  mkdocs.yml
  src/appendices/cross-modality-correspondence.md
  src/introduction.md
  src/modality-specific-files/magnetic-resonance-spectroscopy.md
  src/schema/meta/context.yaml
  src/schema/objects/common_principles.yaml
  src/schema/objects/datatypes.yaml
  src/schema/objects/entities.yaml
  src/schema/objects/enums.yaml
  src/schema/objects/metadata.yaml
  src/schema/objects/modalities.yaml
  src/schema/objects/suffixes.yaml
  src/schema/rules/checks/mrs.yaml
  src/schema/rules/entities.yaml
  src/schema/rules/files/raw/mrs.yaml
  src/schema/rules/files/raw/task.yaml
  src/schema/rules/modalities.yaml
  src/schema/rules/sidecars/func.yaml
  src/schema/rules/sidecars/mri.yaml
  src/schema/rules/sidecars/mrs.yaml
Labels: BEP, spectroscopy

#1899 [INFRA] Publish schema to Javascript Registry (https://jsr.io/@bids/schema) on changes and releases
  .github/workflows/publish_schema.yml
  src/schema/meta/context.yaml
  tools/schemacode/bidsschematools/__main__.py
Labels: infrastructure, schema

#1911 [STY] Use wikipedia links, separate URL definitions
  src/appendices/units.md
Labels: exclude-from-changelog

#1813 [ENH] Apply derivative definition to qMRI appendix
  src/appendices/qmri.md
Labels: needs review

#1917 [SCHEMA] Check sidecar fields mentioned in rule checks exist in the schema
  src/schema/rules/checks/asl.yaml
  src/schema/rules/checks/micr.yaml
  src/schema/rules/checks/mri.yaml
  tools/schemacode/bidsschematools/tests/test_expressions.py
Labels: schema-code, exclude-from-changelog

#1918 [MISC] extract MRS institution info in separate table
  src/modality-specific-files/magnetic-resonance-spectroscopy.md
  src/schema/rules/sidecars/mrs.yaml
Labels: exclude-from-changelog

#1920 fix(schema): Update microscopy pixel size checks to account for error and OME convention
  src/schema/rules/checks/micr.yaml
Labels: schema, exclude-from-changelog
