Repository bids-standard/bids-specification, pull requests merged in 2024-04, with the labels that each got.

#1396 [ENH] Add generic metadata from BEP22 to MRI
  src/schema/objects/metadata.yaml
  src/schema/rules/sidecars/mri.yaml
Labels: BEP, MRI

#1707 Add `descriptions.tsv` to the schema
  src/derivatives/common-data-types.md
  src/schema/objects/columns.yaml
  src/schema/objects/suffixes.yaml
  src/schema/rules/files/deriv/tables.yaml
  src/schema/rules/tabular_data/derivatives/common_derivatives.yaml
Labels: derivatives, schema

#1790 FIX: Make `namespace.to_dict()` recurse fully
  tools/schemacode/bidsschematools/tests/test_schema.py
  tools/schemacode/bidsschematools/types/namespace.py
Labels: schema-code, exclude-from-changelog

#1793 code cleanup
  pdf_build_src/process_markdowns.py
  tools/add_contributors.py
  tools/mkdocs_macros_bids/macros.py
  tools/schemacode/bidsschematools/render/tables.py
  tools/schemacode/bidsschematools/render/text.py
  tools/schemacode/bidsschematools/schema.py
  tools/schemacode/bidsschematools/validator.py
Labels: schema-code, exclude-from-changelog

#1784 [ENH] use full width entity page
  src/appendices/entity-table.md
Labels: formatting, exclude-from-changelog

#1795 MNT: Add precommit for yamllint
  .pre-commit-config.yaml
Labels: infrastructure, exclude-from-changelog

#1747 SCHEMA: Update existence checks to consider empty lists
  src/schema/rules/checks/references.yaml
Labels: schema, exclude-from-changelog

#1787 [INFRA] Introduce metaschema
  .pre-commit-config.yaml
  src/metaschema.json
  src/schema/README.md
  src/schema/rules/sidecars/mri.yaml
  tools/schemacode/bidsschematools/data/metaschema.json
  tools/schemacode/bidsschematools/schema.py
  tools/schemacode/bidsschematools/tests/test_schema.py
  tools/schemacode/setup.cfg
Labels: schema

#1758 ENH: Use "Tag XXXX, YYYY" not "Tag (XXXX,YYYY)" for DICOM Tags
  src/schema/rules/sidecars/pet.yaml
Labels: formatting

#1755 Make extensions identifiers contain . to separate extensions where multiple used
  src/common-principles.md
  src/modality-specific-files/physiological-recordings.md
  src/modality-specific-files/task-events.md
  src/schema/objects/extensions.yaml
  tools/schemacode/bidsschematools/render/text.py
Labels: schema, exclude-from-changelog

#1802 Fix typo
  src/appendices/qmri.md
Labels: exclude-from-changelog

#1451 [ENH] Add noRF suffix for MR excitation-free noise scans
  src/schema/objects/suffixes.yaml
  src/schema/rules/files/raw/func.yaml
Labels: functional MRI, schema, MRI

#1754 [ENH][SCHEMA] Allow .bval and .bvec files for pepolar fmaps
  src/modality-specific-files/magnetic-resonance-imaging-data.md
  src/schema/SCHEMA_VERSION
  src/schema/meta/associations.yaml
  src/schema/meta/context.yaml
  src/schema/rules/checks/dwi.yaml
  src/schema/rules/checks/fmap.yaml
  src/schema/rules/files/deriv/preprocessed_data.yaml
  src/schema/rules/files/raw/fmap.yaml
Labels: MRI field maps, diffusion MRI, schema

#1805 [MAINT] Update contributor table generator style
  src/appendices/contributors.md
  tools/print_contributors.py
Labels: infrastructure, exclude-from-changelog

#1722 FIX: Re-add run entity to electrodes.tsv
  src/modality-specific-files/electroencephalography.md
  src/modality-specific-files/intracranial-electroencephalography.md
  src/schema/rules/checks/electrodes.yaml
  src/schema/rules/files/raw/channels.yaml
Labels: iEEG, EEG, schema, needs review

#1808 [INFRA] Refactor metaschema file rules into definitions
  src/metaschema.json
Labels: schema, exclude-from-changelog
