Repository bids-standard/bids-specification, pull requests merged in 2024-07, with the labels that each got.

#1863 Make two Dimitis into one
  .mailmap
Labels: exclude-from-changelog

#1319 Add ephys channel count rules to schema
  src/schema/rules/checks/eeg.yaml
Labels: help wanted, schema, exclude-from-changelog

#1871 fix(checks): Sort columns.onset numerically
  src/schema/README.md
  src/schema/meta/expression_tests.yaml
  src/schema/rules/checks/events.yaml
Labels: schema, exclude-from-changelog

#1870 fix(schema): metaschema cleanup, schema bugs caught
  src/metaschema.json
  src/schema/rules/sidecars/func.yaml
  src/schema/rules/sidecars/mri.yaml
Labels: schema, exclude-from-changelog

#1872 fix(schema): Deduplicate enum values constructed from anyOfs
  tools/schemacode/bidsschematools/schema.py
Labels: schema-code, exclude-from-changelog

#1735 [ENH] Add admonitions to task and beh pages
  CONTRIBUTING.md
  src/modality-specific-files/behavioral-experiments.md
  src/modality-specific-files/task-events.md
Labels: formatting, exclude-from-changelog, needs review

#1838 feat(schema): Provide default JSON column definition for "conventional" columns
  src/metaschema.json
  src/schema/objects/columns.yaml
  tools/schemacode/bidsschematools/render/tables.py
  tools/schemacode/bidsschematools/render/text.py
  tools/schemacode/bidsschematools/render/utils.py
Labels: schema, schema-code, exclude-from-changelog, needs review

#1875 FIX: Add MRS events files, restrict sidecar metadata checks to data files
  src/modality-specific-files/magnetic-resonance-spectroscopy.md
  src/schema/rules/files/raw/task.yaml
  src/schema/rules/sidecars/mrs.yaml
Labels: schema, exclude-from-changelog, spectroscopy

#1876 fix(schema): Point to correct DigitizedHeadPoints definition for MEG coordsystem
  src/schema/rules/sidecars/meg.yaml
Labels: schema, exclude-from-changelog

#1878 fix(schema): Fix checks to reduce false positives
  src/modality-specific-files/magnetic-resonance-imaging-data.md
  src/schema/rules/checks/events.yaml
  src/schema/rules/checks/fmap.yaml
  src/schema/rules/checks/func.yaml
  src/schema/rules/checks/nirs.yaml
  src/schema/rules/sidecars/func.yaml
  src/schema/rules/sidecars/mri.yaml
Labels: schema, exclude-from-changelog
