Repository bids-standard/bids-specification, pull requests merged in 2024-06, with the labels that each got.

#1830 [SCHEMA] MRS schema updates
  src/modality-specific-files/magnetic-resonance-spectroscopy.md
  src/schema/meta/context.yaml
  src/schema/objects/metadata.yaml
  src/schema/rules/checks/mrs.yaml
  src/schema/rules/sidecars/func.yaml
  src/schema/rules/sidecars/mrs.yaml
Labels: BEP, schema, spectroscopy

#1845 MAINT: Upgrade node for linting
  .github/workflows/validation.yml
  .remarkrc
  CONTRIBUTING.md
  DECISION-MAKING.md
  npm-requirements.txt
  src/appendices/file-collections.md
  src/appendices/licenses.md
  src/appendices/meg-systems.md
  src/appendices/qmri.md
  src/appendices/units.md
  src/derivatives/common-data-types.md
  src/derivatives/introduction.md
  src/modality-specific-files/magnetic-resonance-imaging-data.md
  src/modality-specific-files/motion.md
  src/modality-specific-files/near-infrared-spectroscopy.md
Labels: exclude-from-changelog

#1836 Fix generation of BIDS changelog
  .circleci/config.yml
  .github/workflows/changelog_generator.yml
  .github/workflows/schemacode_ci.yml
Labels: exclude-from-changelog

#1310 [FIX] Consistently refer to Neuromag/Elekta/MEGIN
  src/appendices/coordinate-systems.md
  src/schema/objects/enums.yaml
  src/schema/rules/sidecars/meg.yaml
Labels: MEG, consistency

#1850 Trigger GitHub-Changelog-Generator
  requirements.txt
Labels: exclude-from-changelog

#1851 DOC: Updates to how changelog generator is working
  CONTRIBUTING.md
  Release_Protocol.md
Labels: exclude-from-changelog

#1770 [DOC] add maintainers guide
  DECISION-MAKING.md
  Maintainers_Guide.md
Labels: exclude-from-changelog, documentation

#1857 [FIX] Update links to moved RRID site
  src/introduction.md
  src/modality-specific-files/microscopy.md
  src/schema/objects/columns.yaml
  src/schema/objects/formats.yaml
  src/schema/objects/metadata.yaml
Labels: exclude-from-changelog

#1822 [FIX] Change hipCT microscopy suffix to XPCT
  src/modality-specific-files/microscopy.md
  src/schema/objects/suffixes.yaml
  src/schema/rules/files/raw/micr.yaml
Labels: needs review

#1848 Add deprecation check for ElektaNeuromagMEGIN in schema
  src/schema/rules/checks/deprecations.yml
Labels: schema, exclude-from-changelog
