Repository bids-standard/bids-specification, pull requests merged in 2024-12, with the labels that each got.

#1994 [SCHEMA] Add v1.10.0 to known BIDS versions list
  src/schema/meta/versions.yaml
Labels: schema, exclude-from-changelog

#1997 [MAINT] Update Release_Protocol.md
  Release_Protocol.md
Labels: exclude-from-changelog

#2002 fix: Update datetime definition/regex to match specification
  src/schema/objects/formats.yaml
  src/schema/objects/metadata.yaml
  tools/schemacode/src/bidsschematools/tests/test_schema.py
Labels: schema, exclude-from-changelog

#1987 chore(rtd): Speed up doc build with uv
  readthedocs.yml
Labels: infrastructure, exclude-from-changelog

#1988 [INFRA] Fix dicomlookup links, link consistently
  src/modality-specific-files/magnetic-resonance-imaging-data.md
  src/schema/objects/metadata.yaml
  src/schema/rules/checks/asl.yaml
  src/schema/rules/sidecars/mri.yaml
  src/schema/rules/sidecars/mrs.yaml
  src/schema/rules/sidecars/pet.yaml
Labels: needs review

#2004 [FIX] update some internal links
  src/derivatives/imaging.md
  src/modality-specific-files/behavioral-experiments.md
  src/modality-specific-files/electroencephalography.md
  src/modality-specific-files/magnetic-resonance-imaging-data.md
  src/modality-specific-files/magnetoencephalography.md
  src/schema/objects/entities.yaml
  src/schema/rules/json/meg.yaml
Labels: exclude-from-changelog

#2009 [FIX] graceful error when failing to load invalid yml
  mkdocs.yml
  tools/schemacode/src/bidsschematools/types/namespace.py
Labels: schema-code, exclude-from-changelog

#1794 [ENH] Render code blocks with language "tsv" as tables
  .pre-commit-config.yaml
  mkdocs.yml
  pdf_build_src/pandoc_script.py
  src/appendices/arterial-spin-labeling.md
  src/appendices/hed.md
  src/derivatives/common-data-types.md
  src/longitudinal-and-multi-site-studies.md
  src/modality-agnostic-files.md
  src/modality-specific-files/behavioral-experiments.md
  src/modality-specific-files/electroencephalography.md
  src/modality-specific-files/genetic-descriptor.md
  src/modality-specific-files/intracranial-electroencephalography.md
  src/modality-specific-files/magnetoencephalography.md
  src/modality-specific-files/motion.md
  src/modality-specific-files/near-infrared-spectroscopy.md
  src/modality-specific-files/physiological-recordings.md
  src/modality-specific-files/positron-emission-tomography.md
  src/modality-specific-files/task-events.md
  tools/schemacode/src/bidsschematools/render/tsv.py
Labels: enhancement, formatting, needs review

#1940 [FIX] Move description of "n/a" above "String values" to avoid any association
  src/common-principles.md
Labels: needs review

#2007 [ENH] add bluesky and youtube badges to readme
  README.md
Labels: exclude-from-changelog
