Repository bids-standard/bids-specification, pull requests merged in 2024-11, with the labels that each got.

#1963 Add a few more tests for the schema
  tools/schemacode/bidsschematools/data/tests/test_rules.py
Labels: schema-code, exclude-from-changelog

#1956 [ENH] Allow MED format for iEEG data (`*_ieeg.medd/`)
  src/modality-specific-files/intracranial-electroencephalography.md
  src/schema/objects/extensions.yaml
  src/schema/rules/files/raw/ieeg.yaml
Labels: enhancement, iEEG, needs review

#1980 fix(schema): Fix/add schema checks for metadata and associated files
  src/schema/rules/checks/events.yaml
  src/schema/rules/checks/mri.yaml
Labels: schema, exclude-from-changelog

#1978 [DOC] Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: exclude-from-changelog

#1979 [INFRA] Remove COC in favor of the default one of the BIDS github organization
  CODE_OF_CONDUCT.md
Labels: exclude-from-changelog

#1986 feat(cli): Add tool for filename validation for use in pre-receive hooks
  tools/schemacode/bidsschematools/__main__.py
  tools/schemacode/bidsschematools/utils.py
Labels: schema-code, exclude-from-changelog

#1985 chore: Remove excess test data from bidsschematools installation directories
  .github/workflows/schemacode_ci.yml
  .pre-commit-config.yaml
  tools/schemacode/MANIFEST.in
  tools/schemacode/bidsschematools/data/metaschema.json
  tools/schemacode/bidsschematools/data/schema
  tools/schemacode/bidsschematools/tests/test_make_testdata.py
  tools/schemacode/pyproject.toml
  tools/schemacode/setup.cfg
  tools/schemacode/src/bidsschematools/__init__.py
  tools/schemacode/src/bidsschematools/__main__.py
  tools/schemacode/src/bidsschematools/conftest.py
  tools/schemacode/src/bidsschematools/data/__init__.py
  tools/schemacode/src/bidsschematools/data/metaschema.json
  tools/schemacode/src/bidsschematools/data/schema
  tools/schemacode/src/bidsschematools/data/tests/test_rules.py
  tools/schemacode/src/bidsschematools/expressions.py
  tools/schemacode/src/bidsschematools/render/__init__.py
  tools/schemacode/src/bidsschematools/render/tables.py
  tools/schemacode/src/bidsschematools/render/text.py
  tools/schemacode/src/bidsschematools/render/utils.py
  tools/schemacode/src/bidsschematools/rules.py
  tools/schemacode/src/bidsschematools/schema.py
  tools/schemacode/src/bidsschematools/tests/__init__.py
  tools/schemacode/src/bidsschematools/tests/data/__init__.py
  tools/schemacode/src/bidsschematools/tests/data/broken_dataset_description.json
  tools/schemacode/src/bidsschematools/tests/data/expected_bids_validator_xs_write.log
  tools/schemacode/src/bidsschematools/tests/test_expressions.py
  tools/schemacode/src/bidsschematools/tests/test_make_testdata.py
  tools/schemacode/src/bidsschematools/tests/test_render_tables.py
  tools/schemacode/src/bidsschematools/tests/test_render_text.py
  tools/schemacode/src/bidsschematools/tests/test_render_utils.py
  tools/schemacode/src/bidsschematools/tests/test_rules.py
  tools/schemacode/src/bidsschematools/tests/test_schema.py
  tools/schemacode/src/bidsschematools/tests/test_validator.py
  tools/schemacode/src/bidsschematools/types/__init__.py
  tools/schemacode/src/bidsschematools/types/namespace.py
  tools/schemacode/src/bidsschematools/utils.py
  tools/schemacode/src/bidsschematools/validator.py
  tools/schemacode/tests/data/.gitignore
Labels: schema-code, exclude-from-changelog

#1960 [ENH] Markdown for Bep032
  src/modality-specific-files/microelectrode-electrophysiology.md
Labels: exclude-from-changelog
