Repository bids-standard/bids-specification, pull requests merged in 2024-03, with the labels that each got.

#1721 [FIX] Typo in reference_frame description (SpatialAxis -> SpatialAxes)
  src/schema/objects/columns.yaml
Labels: exclude-from-changelog

#1717 Organize BIDS communication channels
  LICENSE
  README.md
  mkdocs.yml
Labels: exclude-from-changelog

#1711 [ENH] allow using of mkdoc admonitions
  .gitignore
  .remarkrc
  CONTRIBUTING.md
  mkdocs.yml
  pdf_build_src/pandoc_script.py
  pdf_build_src/process_markdowns.py
  pdf_build_src/remove_admonitions.py
  pdf_build_src/test_remove_admonitions.py
  pdf_build_src/tests/data/expected/README.md
  pdf_build_src/tests/data/expected/modality-specific-files/magnetic-resonance-imaging-data.md
  pdf_build_src/tests/data/input/README.md
  pdf_build_src/tests/data/input/modality-specific-files/magnetic-resonance-imaging-data.md
  src/modality-specific-files/electroencephalography.md
  src/modality-specific-files/genetic-descriptor.md
  src/modality-specific-files/intracranial-electroencephalography.md
  src/modality-specific-files/magnetic-resonance-imaging-data.md
  src/modality-specific-files/magnetoencephalography.md
  src/modality-specific-files/microscopy.md
  src/modality-specific-files/motion.md
  src/modality-specific-files/near-infrared-spectroscopy.md
  src/modality-specific-files/physiological-and-other-continuous-recordings.md
  src/modality-specific-files/positron-emission-tomography.md
Labels: exclude-from-changelog, user experience

#1728 [SCHEMA] Very minor tune ups to the test_rule_objects test while trying to grasp its function
  tools/schemacode/bidsschematools/data/tests/test_rules.py
Labels: schema-code, exclude-from-changelog

#1727 [SCHEMA] Remove stale test comment -- test no longer fails!
  tools/schemacode/bidsschematools/data/tests/test_rules.py
Labels: schema-code, exclude-from-changelog

#1733 [DOC] update doc on communication platforms linked in release protocol
  Release_Protocol.md
Labels: exclude-from-changelog

#1738 FIX: Improve detection of admonition end, fixing unrendered links in PDF
  pdf_build_src/remove_admonitions.py
  pdf_build_src/tests/data/expected/README.md
  pdf_build_src/tests/data/input/README.md
Labels: exclude-from-changelog

#1742 SCHEMA: Allow surrounding whitespace in integers
  src/schema/objects/formats.yaml
Labels: schema, exclude-from-changelog
