Repository bids-standard/bids-specification, pull requests merged in 2024-10, with the labels that each got.

#1941 [SCHEMA] Fixes identified from reviewing OpenNeuro errors
  src/schema/rules/checks/mri.yaml
  src/schema/rules/sidecars/entity_rules.yaml
  src/schema/rules/sidecars/mri.yaml
Labels: schema, exclude-from-changelog

#1952 schema: add check for duplicate READMEs
  src/schema/rules/checks/general.yaml
Labels: schema, exclude-from-changelog

#1953 Add an empty line in hope to get table rendered properly in "Ordering ..." section
  src/schema/README.md
Labels: formatting, schema, exclude-from-changelog

#1961 [SCHEMA] Allow physio files for anat datatype
  src/schema/rules/files/raw/task.yaml
Labels: schema, exclude-from-changelog, physio

#1965 [REF] refactor contributing documentation
  CONTRIBUTING.md
  macros_doc.md
Labels: exclude-from-changelog

#1945 Include entity-less "scans.json" into an example of inheritance principle
  src/common-principles.md
Labels: exclude-from-changelog

#1966 [ENH] Add interpretation of "n/a" onsets in events.tsv files
  src/schema/objects/columns.yaml
Labels: needs review
