Repository bids-standard/bids-specification, pull requests merged in 2025-09, with the labels that each got.

#2177 DOC: make mentioning of pipeline_name consistent
  src/common-principles.md
  src/derivatives/common-data-types.md
  src/derivatives/imaging.md
  src/derivatives/introduction.md
  src/modality-agnostic-files/dataset-description.md
  src/schema/objects/metaentities.yaml
  src/schema/rules/metaentities.yaml
  tools/schemacode/src/bidsschematools/render/text.py
Labels: exclude-from-changelog, documentation

#2200 [SCHEMA] Reorder fields in MRSInstitutionInformation schema
  src/schema/rules/sidecars/mrs.yaml
Labels: schema, exclude-from-changelog

#2205 [FIX] Update links in common-principles.md
  src/common-principles.md
Labels: documentation

#2214 feat: Add unique() function to schema expression language
  src/schema/README.md
  src/schema/meta/expression_tests.yaml
Labels: schema, exclude-from-changelog

#2198 [ENH][BEP032] Updates
  src/modality-specific-files/microelectrode-electrophysiology.md
  src/schema/rules/checks/microephys.yaml
  src/schema/rules/files/raw/channels.yaml
  src/schema/rules/files/raw/photo.yaml
  src/schema/rules/json/microephys.yaml
Labels: ephys

#1927 [ENH] Clearly define dual templates (fsaverage, fsaverageSym, and fsLR) in coordinate systems appendix
  src/appendices/coordinate-systems.md
  src/schema/objects/enums.yaml
Labels: derivatives, schema, needs-review, MRI

#2203 [ENH] Clarify that "source datasets" do not have to be BIDS, and provide definitions for DOI and URL
  src/schema/objects/metadata.yaml
Labels: enhancement
