Repository bids-standard/bids-specification, pull requests merged in 2025-06, with the labels that each got.

#2122 Revert "[ENH] Allow MED format for iEEG data (`*_ieeg.medd/`) (#1956)"
  src/modality-specific-files/intracranial-electroencephalography.md
  src/schema/objects/extensions.yaml
  src/schema/rules/files/raw/ieeg.yaml
Labels: needs review

#2126 feat: Define phenotype/*.tsv in schema, add HED to modality agnostic tables
  src/schema/rules/tabular_data/modality_agnostic.yaml
Labels: schema, exclude-from-changelog

#1896 [ENH] Clarify that electrodes.tsv are REQUIRED for iEEG data
  src/metaschema.json
  src/modality-specific-files/intracranial-electroencephalography.md
  src/schema/meta/associations.yaml
  src/schema/meta/context.yaml
  src/schema/rules/checks/channels.yaml
  src/schema/rules/checks/ieeg.yaml
Labels: iEEG, needs review

#2065 Defaced derivative example should be in a pipeline subdirectory
  src/derivatives/introduction.md
Labels: derivatives, consistency, needs-review

#2001 [ENH] Accept UTC offsets in datetimes
  src/common-principles.md
  src/schema/objects/formats.yaml
  tools/schemacode/src/bidsschematools/tests/test_schema.py
Labels: needs-review

#1834 Inheritance Principle: Advise against value overloading. Plan to deprecate support for overloading for BIDS 2.0
  src/common-principles.md
Labels: inheritance, copenhagen

#2128 [FIX] Remove incorrect DICOM correspondence of PartialFourier
  src/schema/objects/metadata.yaml
Labels: needs-review

#2127 [INFRA] Use uv to manage the build environment
  .circleci/config.yml
  .github/dependabot.yml
  .gitignore
  CONTRIBUTING.md
  pyproject.toml
  readthedocs.yml
  requirements.txt
  src/schema/README.md
  tools/schemacode/.readthedocs.yaml
  tools/schemacode/docs/_templates/module.rst
  tools/schemacode/docs/conf.py
  tools/schemacode/docs/requirements.txt
  tools/schemacode/pyproject.toml
  uv.lock
Labels: exclude-from-changelog

#2147 doc: Add quickstart tutorial to bidsschematools site
  .gitignore
  pyproject.toml
  tools/schemacode/docs/conf.py
  tools/schemacode/docs/index.rst
  tools/schemacode/docs/quickstart.md
  uv.lock
Labels: schema-code, exclude-from-changelog, documentation
