Repository bids-standard/bids-specification, pull requests merged in 2025-03, with the labels that each got.

#2064 [MAINT] deal with links redirect to the new website
  .github/ISSUE_TEMPLATE/feature_request.yml
  DECISION-MAKING.md
  Maintainers_Guide.md
  README.md
  macros_doc.md
  src/extensions.md
  tools/schemacode/README.md
Labels: exclude-from-changelog

#2085 fix(bst): Do not alter logger in library mode, log to stderr not stdout
  tools/schemacode/src/bidsschematools/__main__.py
  tools/schemacode/src/bidsschematools/utils.py
Labels: schema-code, exclude-from-changelog

#2079 feat(schema): Add selectors to file rules
  src/metaschema.json
  src/schema/rules/files/deriv/imaging.yaml
  src/schema/rules/files/deriv/preprocessed_data.yaml
  src/schema/rules/files/deriv/tables.yaml
Labels: schema, needs review
