Repository bids-standard/bids-specification, pull requests merged in 2025-04, with the labels that each got.

#2093 [FIX] correct return type documentation of `load_schema()` in `bidsschematools`
  tools/schemacode/src/bidsschematools/schema.py
Labels: schema-code, exclude-from-changelog

#2102 Fix log line %interpolation in validator.py
  tools/schemacode/src/bidsschematools/validator.py
Labels: exclude-from-changelog

#1962 [ENH] Formalize presence of optional logs/ folder
  src/common-principles.md
  src/schema/rules/directories.yaml
  src/schema/rules/files/common/core.yaml
Labels: enhancement, opinions wanted, schema

#2091 [FIX] Fix typos in specification about iEEG photo
  src/modality-specific-files/intracranial-electroencephalography.md
Labels: needs review
