Repository bids-standard/bids-specification, pull requests merged in 2025-02, with the labels that each got.

#2038 [BEP032] [SCHEMA] Channel enums for microephys
  src/schema/objects/columns.yaml
  src/schema/objects/enums.yaml
Labels: exclude-from-changelog

#2036 [ENH] Allow LICENSE files to have .txt, .md, or .rst extensions
  src/modality-agnostic-files.md
  src/schema/objects/files.yaml
  src/schema/rules/files/common/core.yaml
Labels: needs review

#2020 feat(schema): Encode qMRI metadata requirements
  src/appendices/qmri.md
  src/schema/rules/sidecars/qmri.yaml
Labels: schema, exclude-from-changelog, needs review

#2046 doc(schema): Add definition field for objects.columns entries
  src/schema/README.md
Labels: schema, exclude-from-changelog, needs review, documentation

#2044 [ENH] Allow participants.tsv to contain a superset of subject directories and subjects listed in phenotype files
  src/schema/README.md
  src/schema/meta/expression_tests.yaml
  src/schema/objects/files.yaml
  src/schema/rules/checks/dataset.yaml
Labels: needs review, phenotype

#2062 [MAINT] update link to new website
  CONTRIBUTING.md
Labels: exclude-from-changelog

#1926 [ENH] Allow plus signs in labels
  src/appendices/entity-table.md
  src/common-principles.md
  src/schema/objects/columns.yaml
  src/schema/objects/common_principles.yaml
  src/schema/objects/entities.yaml
  src/schema/objects/formats.yaml
  src/schema/objects/metadata.yaml
  tools/schemacode/src/bidsschematools/tests/data/expected_bids_validator_xs_write.log
  tools/schemacode/src/bidsschematools/tests/test_rules.py
  tools/schemacode/src/bidsschematools/tests/test_validator.py
Labels: schema
