Repository bids-standard/bids-specification, pull requests merged in 2025-08, with the labels that each got.

#2164 fix: Use uvx linkchecker
  .circleci/config.yml
  src/appendices/contributors.md
Labels: infrastructure, exclude-from-changelog

#2100 [ENH] Allow direction entity in MESE files
  src/schema/rules/files/deriv/preprocessed_data.yaml
  src/schema/rules/files/raw/anat.yaml
Labels: structural MRI, needs-review, MRI

#2097 [ENH] Specify that dir-<label> should correspond to PhaseEncodingDirection
  src/schema/meta/context.yaml
  src/schema/objects/entities.yaml
  src/schema/rules/checks/nifti.yaml
  tools/schemacode/tests/test_context_types.py
Labels: needs-review

#2090 [ENH] Clarify that recording entity may be used to distinguish recording instruments
  src/schema/objects/entities.yaml
Labels: needs-review

#2183 [ENH] Expand fieldmaps section to include B1 maps, including qMRI maps
  src/appendices/qmri.md
  src/modality-specific-files/magnetic-resonance-imaging-data.md
Labels: MRI field maps
